$red: #de4641
$green: #b7d968
$yellow: #fce482
$blue: #7ec9e6
$black: #060606
$grey: #5e5f67

html, body
	height: 100%
	margin: 0
	font-family: sans-serif

h1
	text-align: center

.test-table
	width: 80%
	margin: 1em auto
	text-align: left
	border-collapse: collapse
	tr
		// background-color: red
	th, td
		padding: .5em
	th
		background-color: lighten($blue, 5%)
		color: white

test-tabs::shadow #results
	width: 40%
	max-width: initial
