html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif; }

h1 {
  text-align: center; }

.test-table {
  width: 80%;
  margin: 1em auto;
  text-align: left;
  border-collapse: collapse; }
  .test-table th, .test-table td {
    padding: 0.5em; }
  .test-table th {
    background-color: #93d2ea;
    color: white; }

test-tabs::shadow #results {
  width: 40%;
  max-width: initial; }
